<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>My Timetable</title>
    </head>
    <body>
        <h1>My Timetable</h1>
        <IMG src="/static/images/download.jpg" height="100" width="300" >
        <table border='2'>
            <tr>
                <td align='centre' colspan="5">TIME TABLE</td>
            </tr>
            <tr>
                <td colspan="5">Reg number : 22001494</td>
                <td colspan="5">Name : Nagineni Rohith</td>
            </tr>
            <tr>
                <td>Days</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Monday</td>
                <td>no class</td>
                <td>19AI414</td>
                <td>no class</td>
                <td>19PH205</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>19MA201</td>
                <td>19EN101</td>
                <td>19AI414</td>
                <td>19CS301P1</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>19MA201</td>
                <td>no class</td>
                <td>19AI414</td>
                <td>19CS301P1</td>
            </tr>
            <tr>
                <td>Thrusday</td>
                <td>19EY701</td>
                <td>19AI302</td>
                <td>19EN101</td>
                <td>19PH205</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>no class</td>
                <td>no class</td>
                <td>no class</td>
                <td>19AI302</td>
            </tr>
        </table>
        <ol>
            <li>19AI414 - FUNDAMENTALS OF WEB APPLICATION DEVLOPMENT</li>
            <li>19AI302 - ENGINEERING DESIGN AND MODELLING</li>
            <li>19CS301P1 - PROBLEM SOLVING AND PYHTON PROGRAMMING</li>
            <li>19EN101 - COMMUNICATIVE ENGLISH</li>
            <li>19EY701 - SOFT SKILLS</li>
            <li>19PH205 - COMPUTATIONAL PHYSICS</li>
            <li>19MA201 - INTEGRAL CALCULUS AND MATRIX ALZEBRA</li>
        </ol>
    </body>
</html>